body {
	background-color: #334f31;
	color: #ffffff;
}

h2.section__title {
	font-size: 100px;
	color: #bebceb;
}

div.subtitle {
	font-size: 20px;
	font-weight: 700;
	color: #b9b9ef;
}

div.container {
	font-size: 15px;
	margin: 5px 15px;
}